<section class="items-grid">
  <article class="card" *ngFor="let team of teamList">
    <div class="card-header">
      <div class="avatar">
        <img [src]="team.manager?.avatar" />
      </div>
      <div class="points">{{ team.points }}</div>
    </div>
    <app-position [players]="team.formation.goalkeeper"></app-position>
    <app-position [players]="team.formation.defender"></app-position>
    <app-position [players]="team.formation.midfield"></app-position>
    <app-position [players]="team.formation.striker"></app-position>
  </article>
</section>

<!-- Jugadores mas usados por posición -->
<div *ngFor="let position of repeatedPlayers | keyvalue">
  <div *ngIf="position.value && position.value?.length">
    <h3>{{ position.key }}</h3>
    <ul>
      <li *ngFor="let player of position.value">
        {{ player.player.playerMaster.name }} ({{ player.frequency }})
      </li>
    </ul>
  </div>
</div>
