.items-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 980px;
    padding: 2rem 1rem;

    // https://docs.google.com/spreadsheets/d/1-yIv0fzXRdE7ytcubtNrup8h0am5SaRtXpX7VK0H5k0/gviz/tq?tqx=out:json&gid=177938431
    .card {
        background: linear-gradient(135deg, #333d57, #283149);
        border-radius: 0.25rem;
        box-shadow: 0 6px 10px 0 rgba(19, 26, 43, .2);
        color: white;
        padding: 0.5rem;
        position: relative;
        .card-header {
            display: flex;
            position: absolute;
            .avatar,
            .points {
                border: 1px solid #fff;
                border-radius: 100%;
                box-sizing: border-box;
                line-height: 1.5rem;
                height: 1.5rem;
                text-align: center;
                width: 1.5rem;
                img {
                    border-radius: 100%;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        app-position {
            display: block;

            &+app-position {
                margin-top: 0.75rem;
            }
        }
    }
}