<header class="header">
  <div class="header-logo">
    <img
      src="./assets/img/logo-fantasy-marca-dark.png"
      alt="Logo de Fantasy Marca"
    />
  </div>
  <nav class="header-nav">
    <ul class="header-menu">
      <a href="#" class="header-menu-link">Inicio</a>

      <a routerLink="ranking" routerLinkActive="active" class="header-menu-link"
        >Rankings</a
      >

      <a href="#" class="header-menu-link">Equipos</a>

      <a href="#" class="header-menu-link">Ligas</a>

      <a href="#" class="header-menu-link">Fantasy</a>

      <a href="#" class="header-menu-link">Estadísticas</a>
    </ul>
  </nav>
</header>
